.logo{
    height: 50px;
}

.div2{
    text-align: right;
}

.div2 input{
    height: 50px;
    border: 2px solid #3498db;
    border-radius: 24px;
    background: none;
}

.div2 select{
    height: 50px;
    border: 2px solid #3498db;
    border-radius: 24px;
    background: none;
}

body{
    /*background-image: url(./download.jpg);*/
    background-size: cover;
}

main{
    margin-top: 2rem;
}

.slike{
    text-align: center;
}

.slike img{
    height: 300px;
}