body{
    background-color: yellowgreen !important;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-x: hidden;   
}

main{
    padding-top: 10px;
}

main img{
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.ter_img{
    text-align: center;
}