
main #treninzi{
    display : flex;
    align-items : center;
    justify-content: center;
}

main #treninzi td{
    width: 33%;
    border: 10px solid transparent;
    text-align: center;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
}
main #col_1{
    background-image: url("../images/raja_yoga1.jpg");
}
main #col_2{
    background-image: url("../images/hatha_yoga2.jpg");
}
main #col_3{
    background-image: url("../images/jnana_yoga1.jpg");
}

main #tabletime .btn1{
    vertical-align: top;
}
main #tabletime .btn2{
    vertical-align: bottom;
}

main #tabletime{
    text-align: center;
    vertical-align: middle;
    height: 700px;
}

main #tabletime td{
    width: 12.5%;
}
main #tabletime tr{
    width: 100px;
}

main #naziv_treninga{
    text-align: center;
    border: 2px solid black;
}

main #col_rezervisani_treninzi{
    width: 500px;
}

main #rezervisani_treninzi table{
    width: 100%;
    border: 2px solid black;
    background-color: white;
}   

main #rezervisani_treninzi table td{
    text-align: center;
}
